html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  line-height: 1.5;
  background-color: #ccc;
}

ul {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  display: flex;
  justify-content: center;
}

img {
  width: 5rem;
}

h3 {

}
