html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

section {
  line-height: 1.5;
  background-color: #ccc;
}

ul {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  flex-direction: column;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: .5rem 1rem .6rem;
}

img {
  width: 5rem;
  margin: 1.5rem;
  padding: 0;
}

a {
  background-color: #444;
  color: #ccc;
  text-decoration: none;
  padding: .5rem 1rem .6rem;
  border-radius: 8px;
}
